@import "../../styles/cssVariables.css";

.bar-container {
  position: absolute;
  top: var(--bar-container-top);
  left: var(--bar-container-left);
  transform: translate(-50%, -50%);
  width: var(--bar-container-width);
  height: var(--bar-container-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: var(--z-bar);
  outline: var(--bar-outline);
}

.bar-container-piece-holder {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--bar-container-gap);
}
