@import "../../styles/cssVariables.css";

.board {
  width: var(--board-width);
  height: var(--board-height);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(var(--scale-factor));
  transform-origin: center;
}
