@import "../../styles/cssVariables.css";

.triangle-wrapper {
  position: relative;
  width: var(--triangle-width);
  height: var(--triangle-height);
}

.triangle-wrapper-selected {
  position: relative;
  width: var(--triangle-width);
  height: var(--triangle-height);
  background-color: rgb(82, 231, 52);
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  left: var(--triangle-left-offset);
  cursor: pointer;
  transform: translateX(-50%);
}

.down {
  border-left: var(--triangle-border-left) solid transparent;
  border-right: var(--triangle-border-right) solid transparent;
  border-top: var(--triangle-height) solid var(--color-triangle-dark);
}

.up {
  border-left: var(--triangle-border-left) solid transparent;
  border-right: var(--triangle-border-right) solid transparent;
  border-bottom: var(--triangle-height) solid var(--color-triangle-dark);
}

.triangle-wrapper:nth-child(even) .triangle.up {
  border-bottom-color: var(--color-triangle-light);
}

.triangle-wrapper:nth-child(even) .triangle.down {
  border-top-color: var(--color-triangle-light);
}

.triangle-wrapper:nth-child(even) .triangle.up:hover {
  border-bottom-color: var(--color-triangle-hover-light);
}

.triangle-wrapper:nth-child(even) .triangle.down:hover {
  border-top-color: var(--color-triangle-hover-light);
}

.up:hover {
  border-bottom-color: var(--color-triangle-hover-dark);
}

.down:hover {
  border-top-color: var(--color-triangle-hover-dark);
}
