@import "../../styles/cssVariables.css";

.board-side{
    height: var(--board-side-height);
    border: var(--board-side-border) solid var(--color-wood-dark);
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-gap-triangles);
    background-image: url('src/assets/board-wood-background.jpg');
    background-position: center;
    background-size: cover;    
}

.board-side.RIGHT {
  border-right: none;
}